{
    "parser": "babel-eslint",
    "extends": "eslint-config-airbnb",
    "rules": {
        "indent": [2, 4],
        "no-param-reassign": [2, {"props": false}],
        "object-curly-spacing": [2, "always"],
        "max-len": [2, 180],
        "no-confusing-arrow": [2, {"allowParens": true}],
        "react/jsx-indent": [2, 4]
    }
}
